.empty-review-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.search-input {
    width: 450px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
    padding-top: 8px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.search-select-box {
    display: flex;
    justify-content: center;
    /*gap: 10px*/
}

.address-select {
    margin-bottom: 10px;
    margin-left: 10px;

}

.search-select-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-select-box button {
    padding: 3px 10px;
    border: none;
    /*background-color:var(--main-color_navy);*/
    background: none;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    align-items: normal;
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
}

.clearButton {
    margin-top: 5px;
}

.search-select-box button:hover {
    background-color: var(--hover);
}

.search-select-box .clearButton img {
    width: 15px;
    height: 15px;
}

.orderby-select{
    margin-right: 10px;
}

.orderby-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 70px;
}

.checkbox-button_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkbox-button {
    flex: 0 0 calc(20% - 20px);
    height: 25px;
    width: 40px;
}

.checked-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--shadow_1);
    background-color: var(--main-color_begie);
}

.category-checkbox:checked + .checked-div {
    background-color: #82817e;
}
.category-checkbox {
    display: none;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    width: 1000px;
    margin: 10px auto 0;
}

/*.review-list-row {*/
/*    align-items: stretch;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-shrink: 0;*/
/*    position: relative;*/
/*    margin-bottom: 4px;*/
/*}*/

.review-list-block {
    display: inline-block;
    position: relative;
    width: calc((100% - (7px * 3)) / 4);
    margin-bottom: 7px;
    margin-right: 7px;
}

.review-list-block:nth-child(4n) {
    margin-right: 0;
}

.review-link {
    text-decoration: none;
}

.review-img {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 270px;
}

.review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*max-width: 250px;*/
    background-color: #f7f5f0;;
}

.review-icon {
    align-items: flex-end;
    border: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
    margin: 8px;
}