.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-top: 30px;
}

.search-input {
    width: 800px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    width: 1000px;
    margin: 10px auto 0;
}

/*.review-list-row {*/
/*    align-items: stretch;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-shrink: 0;*/
/*    position: relative;*/
/*    margin-bottom: 4px;*/
/*}*/

.review-list-block {
    display: inline-block;
    position: relative;
    width: calc((100% - (7px * 3)) / 4);
    margin-bottom: 7px;
    margin-right: 7px;
}

.review-list-block:nth-child(4n) {
    margin-right: 0;
}

.review-link {
    text-decoration: none;
}

.review-img {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 270px;
}

.review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*max-width: 250px;*/
    background-color: #f7f5f0;;
}

.review-icon {
    align-items: flex-end;
    border: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
    margin: 8px;
}