<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지-매장 리스트</title>
   <!-- <script src="/src/layouts/get_layout.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/admin/admin_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_basic_style.css}">
</head>

<div layout:fragment="content" style="flex-direction: row" class="admin-content">
    <div th:insert="~{fragments/components/admin_side::admin_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="admin-title-span">매장 목록</span>
        <div class="admin-content-div">
            <!-- 검색 기능 -->
            <form th:action="@{/nailborhood/admin/search/shop}" method="get">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="검색어를 입력해주세요" name="keyword" />
                    <button type="submit" class="search-button">
                        <img src="/assets/icons/search_icon.png" alt="Search">
                    </button>
                </div>
            </form>
            <!--검색 시 해당 매장 없을 때 오류 반환-->
            <div th:if="${errorCode}" class="error-code" th:text="${errorCode.SHOP_NOT_FOUND.description}"></div>
            <!-- 매장 리스트 -->
            <table class="chart-list" th:unless="${errorCode}">
                <thead>
                <tr>
                    <th>사진</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>운영상태</th>
                    <th>운영시간</th>
                    <th>주소</th>
                    <th>웹사이트 주소</th>
                    <th>등록 일자</th>
                    <th>좋아요 개수</th>
                    <th>리뷰 개수</th>
                    <th>리뷰 별점</th>
                    <th>메뉴 개수</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:if="${shopList != null}">
                <tr class="chart-item" th:each="shop : ${shopList.allShopsLookupResponseDtoList}">
                    <td><img class="chart-profile" th:src="@{${shop.shopMainImgPath}}" alt="Profile Image"></td>
                    <td th:text="${shop.name}"></td>
                    <td th:text="${shop.phone}"></td>
<!--                    <td th:switch="${shop.status}">-->
<!--                        <span th:case="'OPEN'" th:text="'운영중'"></span>-->
<!--                        <span th:case="'BEFORE_OPEN'" th:text="'영업전'"></span>-->
<!--                        <span th:case="'CLOSED'" th:text="'영업종료'"></span>-->
<!--                    </td>-->
                    <td th:text="${shop.status}"></td>
<!--                    <td th:text="${shop.status == 'OPEN' ? '운영중' : shop.status == 'BEFORE_OPEN' ? '영업전' : '영업종료'}"></td>-->
                    <td th:text="${shop.opentime}"></td>
                    <td th:text="${shop.address}"></td>
                    <td th:text="${shop.website}"></td>
                    <td th:text="${#temporals.format(shop.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${shop.reviewCnt}"></td>
                    <td th:text="${shop.favoriteCnt}"></td>
                    <td th:text="${shop.rateAvg}"></td>
                    <td th:text="${shop.menuCnt}"></td>
                    <td><button class="delete-button" th:if="${shop.isDeleted == false}">매장 삭제</button></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


</html>