<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지-회원 리스트</title>
   <!-- <script src="/src/layouts/get_layout.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/pagination/pagination_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_basic_style.css}">
</head>

<div layout:fragment="content" style="flex-direction: row" class="admin-content">
    <div th:insert="~{fragments/components/admin_side::admin_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="admin-title-span">매장 목록</span>
        <div class="admin-content-div">
            <!-- 검색 기능 -->
            <form th:action="@{/admin/search/member}" method="get">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="검색어를 입력해주세요" name="keyword" />
                    <button type="submit" class="search-button">
                        <img src="/assets/icons/search_icon.png" alt="Search">
                    </button>
                </div>
            </form>
            <!--검색 시 해당 매장 없을 때 오류 반환-->
            <div th:if="${errorCode}" class="error-code" th:text="${errorCode.description}"></div>
            <!-- 리스트 -->
            <div class="chart-list" th:unless="${errorCode}">
                <div class="thead">
                    <div class="tr">
                        <div class="th">회원번호</div>
                        <div class="th">사진</div>
                        <div class="th">이름</div>
                        <div class="th">닉네임</div>
                        <div class="th">전화번호</div>
                        <div class="th">이메일</div>
                        <div class="th">생일</div>
                        <div class="th">주소</div>
                        <div class="th">성별</div>
                        <div class="th">가입날짜</div>
                        <div class="th">회원상태</div>
                        <div class="th"></div>
                    </div>
                </div>
                <div class="tbody" th:if="${resultDto != null}">
                    <div class="tr chart-item" th:each="member : ${resultDto.getData().getMemberInfoDtoList()}">
                        <div class="td" th:text="${member.memberId}"></div>
                        <div class="td"><img class="chart-profile" th:src="@{${member.profileImg}}" alt="Profile Image"></div>
                        <div class="td" th:text="${member.name}"></div>
                        <div class="td" th:text="${member.nickname}"></div>
                        <div class="td" th:text="${member.phoneNum}"></div>
                        <div class="td" th:text="${member.email}"></div>
                        <div class="td" th:text="${member.birthday}"></div>
                        <div class="td" th:text="${member.address}"></div>
                        <div class="td" th:text="${member.gender}"></div>
                        <div class="td" th:text="${member.createdAt}"></div>
                        <div class="td" th:text="${member.isDeleted == false ? '가입' : '탈퇴'}"></div>
                        <div class="td">
                            <button class="button" th:if="${member.isDeleted == false}" th:memberId="${member.memberId}" th:onclick="deleteMember(this.getAttribute('memberId'))">회원 삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination" th:unless="${errorCode}">
                <div class="pagination-div">
                    <ul class="pagination-ul">
                        <li th:if="${resultDto.getData().paginationDto.pageNo > 1}" class="page-item">
                            <a class="page-link"
                               th:href="@{'/admin/search/member?page=' + (${resultDto.getData().paginationDto.pageNo} - 1) + '&size=' + ${size} + '&sortBy=' + ${sortBy}}">Prev</a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(1, resultDto.getData().paginationDto.totalPages)}"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{'/admin/search/member?page=' + ${pageNum} + '&size=' + ${size} + '&sortBy=' + ${sortBy}}"
                               th:text="${pageNum}"></a>
                        </li>
                        <li th:if="${resultDto.getData().paginationDto.pageNo < resultDto.getData().paginationDto.totalPages}"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{'/admin/search/member?page=' + (${resultDto.getData().paginationDto.pageNo} + 1) + '&size=' + ${size} '&sortBy=' + ${sortBy}}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


</html>