<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지-리뷰 신고 리스트</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/admin/admin_review_report.js}"></script>
    <!-- <script src="/src/layouts/get_layout.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/admin/admin_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_basic_style.css}">
</head>

<div layout:fragment="content" style="flex-direction: row" class="admin-content">
    <div th:insert="~{fragments/components/admin_side::admin_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="admin-title-span">신고된 리뷰 목록</span>
        <div class="admin-content-div">
            <!-- 검색 기능 -->
            <form th:action="@{/admin/search/review/report}" method="get">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="검색어를 입력해주세요" name="keyword"/>
                    <button type="submit" class="search-button">
                        <img src="/assets/icons/search_icon.png" alt="Search">
                    </button>
                </div>
            </form>
            <!--검색 시 해당 매장 없을 때 오류 반환-->
            <div th:if="${errorCode}" class="error-code" th:text="${errorCode.description}"></div>
            <!-- 리스트 -->
            <table class="chart-list" th:unless="${errorCode}">
                <thead>
                <tr>
                    <th>리뷰 번호</th>
                    <th>리뷰 사진</th>
                    <th>작성자 이름</th>
                    <th>리뷰 내용</th>
                    <th>매장</th>
                    <th>신고된 이유</th>
                    <th>신고자</th>
                    <th>신고 일시</th>
                    <th>신고 상태</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:if="${reviewReportList != null}">
                <tr class="chart-item" th:each="reviewReport : ${reviewReportList.reviewReportLookupDtoList}">
                    <td th:text="${reviewReport.reviewId}"></td>
                    <td><img class="chart-profile" th:src="@{${reviewReport.mainImgPath}}" alt="Profile Image"></td>
                    <td th:text="${reviewReport.reviewer}"></td>
                    <td th:text="${reviewReport.reviewContents}"></td>
                    <td th:text="${reviewReport.shopName}"></td>
                    <td th:text="${reviewReport.reportContents}"></td>
                    <td th:text="${reviewReport.reporter}"></td>
                    <td th:text="${#temporals.format(reviewReport.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${reviewReport.status}"></td>
                    <td>
                        <button class="button accept-button" th:if="${reviewReport.status == '신고 대기중'}"
                                th:reportId="${reviewReport.reportId}" data-status="accept"
                                th:onclick="changeReportStatus(this.getAttribute('reportId'),this.getAttribute('data-status'))" >
                            신고 승인
                        </button>



                        <button class="button reject-button" th:if="${reviewReport.status == '신고 대기중'}"
                                th:reportId="${reviewReport.reportId}" data-status="reject"
                                th:onclick="changeReportStatus(this.getAttribute('reportId'),this.getAttribute('data-status'))" >
                            신고 반려</button>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

</html>