/*@import "/src/components/admin/admin_side_style.css";*/

:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.request-title-span {
    padding: 10px 10px 15px 10px;
    font-size: 27px;
    border-bottom: 1px solid var(--shadow_2);
}

.request-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-code {
    margin: 100px 10px 10px 10px;
}

/* 리스트 */
.chart-list {
    margin: 50px auto;
    width: 95%;
    border-collapse: collapse;
}

.chart-list thead th {
    border-bottom: 3px solid #ddd;
    padding: 10px;
}

.chart-list tbody tr:nth-child(even) {
    background-color: #fffbfb;
}

.chart-item td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.chart-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 버튼 */

.button {
    padding: 5px 10px;
    border: none;
    background-color: #1d438a; /* 빨간색 배경 */
    color: white; /* 텍스트는 흰색 */
    cursor: pointer; /* 마우스를 올렸을 때 손가락 커서 표시 */
}

.button:hover {
    background-color: rgba(43, 107, 225, 0.287);
}
