<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>리뷰 상세</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/review/review_detail_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/review/review_detail_status.js}"></script>
    <script th:src="@{/js/artboard/art_detail.js}"></script>
    <script th:src="@{/js/review/review_detail.js}"></script>
<!--    <script th:src="@{/js/review/review_like.js}"></script>-->
    <script th:src="@{/js/review/review_delete.js}"></script>
    <script th:src="@{/js/alarm/review_save_alarm.js}"></script>
    <script th:src="@{/js/alarm/review_like_alarm.js}"></script>
</head>

<body th:data-review-status="${result.getData().reviewReportStatus}" th:data-review-isDeleted="${result.getData().isDeleted}" th:data-shop-status="${result.getData().shopStatus}">
<div id="wrapper">
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content">
        <!--알람에 필요한 변수 js data -->
        <input type="hidden" id="reviewId" th:value="${result.getData().reviewId}" />
        <input type="hidden" id="shopId" th:value="${result.getData().shopId}" />
        <input type="hidden" id="receiver" th:value="${receiver.getEmail()}" />
<!--        <div id="receiver" data-receiver-email="${receiver.email}" hidden></div>-->
        <div class="review-section">
            <div class="image-slider-wrapper">
                <div th:each="imgEntry : ${result.getData().imgPathMap}"
                     th:class="${imgEntry.key == 1} ? 'image-slide active' : 'image-slide'"
                     th:style="|background-image:url(@{${imgEntry.value}})|">
                </div>

                <a class="prev" onclick="moveSlide(-1)">
                    <img src="/assets/icons/review/left-arrow.svg">
                </a>
                <a class="next" onclick="moveSlide(1)">
                    <img src="/assets/icons/review/right-arrow.svg">
                </a>
            </div>
            <div class="review-info-wrapper">
                <div class="review-meta">
                    <img th:src="${result.getData().reviewAuthorProfileImg}" alt="프로필 이미지" class="profile-pic" />
                    <span class="review-author" th:text="${result.getData().reviewAuthor}">작성자 닉네임</span>
                    <div class="review-count">
                        <a href="#" class="like" th:data-review-id="${result.getData().reviewId}" th:data-like-status="${result.getData().reviewLikeStatus}" th:data-shop-id="${result.getData().shopId}" th:data-is-logged-in="${#strings.isEmpty(sessionDto) ? 'false' : 'true'}"
                        th:data-writer="${result.getData().getWriter()}">

                            <img class="like-img" src="/assets/icons/review/emptyThumbsUp.svg" />
                        </a>
                        <span class="like-number" th:text="${result.getData().likeCnt}">25</span>
                        <a th:href="@{/review/report/{reviewId}(reviewId=${result.getData().reviewId}, shopId=${result.getData().shopId})}" class="review-report">신고</a>
                    </div>
                </div>

                <div class="review-rating">
                    <span class="stars"></span>
                    <span class="rating-number" th:text="${result.getData().rate}">5</span>
                    <span class="review-date" th:text="${#temporals.format(result.getData().reviewCreatedAt, 'yyyy-MM-dd HH:mm')}">작성 일시</span>
                </div>


                <p class="review-meta">
                    <span class="shop-name" th:text="${result.getData().shopName}"></span>&nbsp; |&nbsp;
                    <span class="shop-menu">시술 내역</span> &nbsp;|&nbsp;
                    <span class="shop-address" th:text="${result.getData().shopAddress}">매장 주소</span>
                </p>
                <span class="review-service" th:text="${#strings.listJoin(result.getData().categoryTypeList, ', ')}">카테고리</span>
                <p class="review-content" th:text="${result.getData().contents}">리뷰 내용</p>
                <div class="review-btn">
                    <a th:if="${nickName == result.getData().reviewAuthor}" th:href="@{/review/update/{reviewId}(reviewId=${result.getData().reviewId}, shopId=${result.getData().shopId})}" class="update-button">리뷰 수정</a>
                    <button type="button" th:if="${nickName == result.getData().reviewAuthor}" class="delete-button" th:data-id="${result.getData().reviewId}" th:data-shop-id="${result.getData().shopId}" onclick="reviewDelete(this)">리뷰 삭제</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>

</html>