<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
    <script src="/src/layouts/get_layout.js"></script>
    <link rel="stylesheet" href="/src/layouts/layout_style.css">
    <link rel="stylesheet" href="/src/pages/review/review_registration_style.css">
</head>

<body>
<div id="wrapper">
    <div data-include-path="/src/layouts/header.html"></div>
    <div class="body-content">
        <div class="review-write-section">

            <div class="input-group">
                <label for="review-title">리뷰 제목</label>
                <input type="text" id="review-title" class="review-title-input" placeholder="리뷰 제목을 입력해주세요." />
            </div>

            <div class="input-group">
                <label for="review-service">시술 내역</label>
                <input type="text" id="review-service" class="review-service-input" placeholder="시술 내역을 입력해주세요." />
            </div>

            <div class="rating-section">
                <label for="star-rating" class="rating-label">별점</label>
                <select id="star-rating" name="rating" class="star-rating-input">
                    <option value="1">★☆☆☆☆</option>
                    <option value="2">★★☆☆☆</option>
                    <option value="3">★★★☆☆</option>
                    <option value="4">★★★★☆</option>
                    <option value="5">★★★★★</option>
                </select>
            </div>

            <div class="image-gallery">
                <div class="image-upload-box">사진을 업로드 해주세요.</div>
                <div class="image-upload-box">사진을 업로드 해주세요.</div>
                <div class="image-upload-box">사진을 업로드 해주세요.</div>
            </div>

            <div class="image-upload-button-container">
                <button class="upload-button">사진 업로드</button>
            </div>

            <div class="input-group">
                <label for="review-content">리뷰 내용</label>
                <textarea id="review-content" class="review-textarea" placeholder="리뷰 내용을 입력해주세요."></textarea>
            </div>

            <div class="submit-button-container">
                <button class="submit-button">확인</button>
            </div>

        </div>
    </div>


    <div data-include-path="/src/layouts/footer.html"></div>
</div>
</body>

</html>