<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>리뷰 신고하기</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/review/review_report_style.css}" />
    <script th:src="@{/js/get_layouts.js}"></script>
    <script th:src="@{/js/review/review_report.js}"></script>
</head>

<body>
<div id="wrapper">
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content">
        <div class="report-content">
            <div class="report-main">리뷰 신고하기</div>
            <div class="report">
                <strong class="reported-title">신고대상 내용</strong>
                <div class="reported-review">
                    <span class="reported-nickname" th:text="${result.getData().reviewAuthor}">닉네임</span>
                    <p class="reported-content" th:text="${result.getData().contents}">맘에 안들어욧ㅇ</p>
                </div>
                <div class="review-report">
                    <label for="report-reason">신고 사유</label>
                    <textarea type="text" id="report-reason" name="reportReason" class="reason-input" required></textarea>
                </div>
                <div class="submit-btn">
                    <button type="button" class="report-btn" th:data-id="${result.getData().reviewId}" th:data-shop-id="${result.getData().shopId}" onclick="reviewReport(this)">신고</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>