<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin_side" style="display: contents">
    <ul class="sidebar-ul ul-left">
        <li class="sidebar-li"><a th:href="@{/admin/search/member}">회원 목록</a></li>
        <li class="sidebar-li"><a th:href="@{/admin/search/shop}">매장 목록</a></li>
        <li class="sidebar-li"><a th:href="@{/admin/search/review}">전체 리뷰</a></li>
        <li class="sidebar-li"><a th:href="@{/admin/search/review/report}">신고된 리뷰</a></li>
        <li class="sidebar-li"><a th:href="@{/admin/search/review/report/status}">신고 처리 상태</a></li>
        <li class="sidebar-li"><a th:href="@{/admin/search/shop/request}">매장 신청 목록</a></li>
        <li class="sidebar-li"><a href="#">채팅 목록</a></li>
        <li class="sidebar-li"><a href="#">로그아웃</a></li>
    </ul>
</div>
</html>