<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mypage_side" style="display: contents">
    <ul class="sidebar-ul ul-left">
        <li class="sidebar-li"><a href="#">정보 수정</a></li>
        <li class="sidebar-li"><a href="#">비밀번호 수정</a></li>
        <li class="sidebar-li"><a href="#">내 리뷰</a></li>
        <li class="sidebar-li"><a href="#">내 장소</a></li>
        <li class="sidebar-li"><a href="#">로그아웃</a></li>
    </ul>
    <a class="sidebar-link" href="#">회원 탈퇴</a>
</div>
</html>