<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>알람</title>
    <link rel="stylesheet" th:href="@{/css/alarm/my_alarm_list_style.css}">
    <link rel="stylesheet" th:href="@{/css/pagination/pagination_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/alarm/alarm_list.js}"></script>
</head>

<body>
<div id="wrapper">
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content">
        <div class="alarm-local-list-content">
            <div class="all-alarm-list">
                <div class="alarm-description-section">
                    <span class="precautions"> 💌 알람 </span>
                </div>
                <div>
                    <p>알림이 없습니다</p>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div>
<script th:src="@{/js/get_layouts.js}"></script>
<script th:src="@{/js/shop/shop_detail.js}"></script>
</body>

</html>