<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <script th:src="@{/js/request/request_provider.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage_dropout_style.css}" />
<!--    <script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
</head>
<div layout:fragment="content" style="flex-direction: row" class="mypage-content">
    <div th:insert="~{fragments/components/mypage_side::mypage_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="mypage-title-span">회원 탈퇴</span>
        <div class="mypage-content-div">
                <p>회원탈퇴 하시겠습니까?</p><br>
                <button id="dropout-button" onclick="location.href='/dropoutProc'">탈퇴하기</button>
                <!-- 회원 탈퇴전 안내해야하는 부분이 있는지? -->
        </div>
    </div>
</div>
</html>