<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 수정</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage_modPassword_style.css}" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/member/viewPassword.js}"></script>
</head>
<div layout:fragment="content" style="flex-direction: row" class="mypage-content">
    <div th:insert="~{fragments/components/mypage_side::mypage_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="mypage-title-span">내 정보 수정</span>
        <div class="mypage-content_div">
            <div class="mypage-content-div">
                <form action="/mypage/modifyPassword" method="post" class="modInfo-form">
                    <table>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <label for="oldPassword_input">현재 비밀번호</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="password" name="oldPassword" id="oldPassword_input">
                                <i class="bi bi-eye"></i>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="newPassword_input">새 비밀번호</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="password" name="newPassword" id="newPassword_input">
                                <i class="bi bi-eye"></i>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="newPassword-check_input">새 비밀번호 확인</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="password" name="newPasswordCheck" id="newPassword-check_input">
                                <i class="bi bi-eye"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <input type="submit" id="submit-button" value="비밀번호 수정">
                </form>
            </div>
        </div>
    </div>
</div>
</html>