<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
        <link rel="stylesheet" th:href="@{/css/mypage/user.css}" />
</head>
<div layout:fragment="content" class="mypage-content">
    <div class="content">
        <span class="mypage-title-span">마이페이지(링크 추후 연결)</span>
        <div class="mypage-content_div">
            <div class="profile_div">
                <div class="profile-img_div">
                    <img th:src="@{${sessionDto.profileImg}}" />
                </div>
                <div class="profile-info_div">
                    <div id="profile-nickname">
                        <p th:text="${userInfoResponseDto.nickname}">닉네임 자리</p>
                    </div>
                    <span id="info-span">
                        리뷰 <p th:text="${userInfoResponseDto.reviewCnt}">갯수</p> | 저장한 장소 <p th:text="${userInfoResponseDto.favoriteCnt}">갯수</p> | 북마크 <p th:text="${userInfoResponseDto.reservationCnt}">갯수</p>
                    </span>
                </div>
            </div>
            <div class="mypage-menu_div">
                <div class="mypage-menu_row">
                    <div class="mypage-menu_block">
                        <div class="menu-title">
                            개인정보
                        </div>
                        <span class="menu-detail">
                            <a th:href="@{/mypage/myInfo}">
                                개인정보 수정
                            </a>
                            <a th:href="@{/mypage/password}">
                                비밀번호 수정
                            </a>
                        </span>
                    </div>
                    <div class="mypage-menu_block">
                        <div class="menu-title">
                            리뷰
                        </div>
                        <div class="menu-detail">
                            <a th:href="@{/mypage/review/inquiry}">내 리뷰</a>
                        </div>
                    </div>
                </div>
                <div class="mypage-menu_row">
                    <div class="mypage-menu_block">
                        <div class="menu-title">
                            매장
                        </div>
                        <div class="menu-detail">
                            <a th:href="@{/mypage/shop/favorite/inquiry}">관심 매장</a>
                        </div>
                    </div>
                    <div class="mypage-menu_block">
                        <div class="menu-title">
                            북마크
                        </div>
                        <div class="menu-detail">
                            <a th:href="@{#}">북마크</a>
                        </div>
                    </div>
                </div>
                <div>
                     사업자 전환 신청 | 고객 센터
                </div>
            </div>
<!--            <div class="mypage-menu_div">-->

<!--            </div>-->
        </div>
    </div>
</div>
</html>