:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

/*.search-bar {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin: 10px 0 20px 0;*/
/*}*/

/*.search-field {*/
/*    display: flex;*/
/*    width: 400px;*/
/*    height: 30px;*/
/*    border-radius: 30px;*/
/*    background-color: var(--shadow_1);*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 0 20px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.search-div {*/
/*    display: flex;*/
/*}*/

/*#search-input {*/
/*    display: inline-block;*/
/*    width: 280px;*/
/*    border: none;*/
/*    background-color: var(--shadow_1);*/
/*    border-bottom: 2px solid var(--shadow_3);*/
/*    margin: 0 5px;*/
/*}*/

/*#search-input:focus {*/
/*    outline: none;*/
/*    border-bottom: 2px solid var(--shadow_3);*/
/*}*/

/*.search-icon {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    cursor: pointer;*/
/*}*/

/*.search-icon img {*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.searchForm {*/
/*    width: 80%;*/
/*    padding: 10px 10px 10px 10px;*/
/*    margin: auto;*/
/*}*/

/* 검색 */

.search-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    margin: 30px auto 50px;
}

.search-input {
    width: 450px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
    /*padding-top: 8px;*/
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.checkbox-button_row {
    display: flex;
    /*width: 500px;*/
    flex-wrap: wrap;
    gap: 15px;
    /*center 였음*/
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 14px;
    /*margin-left: 550px;*/
}

.checkbox-button {
    flex: 0 0 calc(20% - 20px);
    /*margin: auto;*/
    height: 30px;
    width: 32px;
}

.checked-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--shadow_1);
    background-color: var(--main-color_begie);
}

.category-checkbox:checked + .checked-div {
    background-color: #82817e;
}
.category-checkbox {
    display: none;
}

