:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.empty-art-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.owner-title-span {
    padding: 10px 10px 15px 10px;
    font-size: 27px;
    border-bottom: 1px solid var(--shadow_2);
}

.owner-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-list_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.art-link {
    width: 600px;
    height: 140px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
}

.art-info_img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.art-info_img img {
    width: 100%;
    height: 100%;
}

.art-info_text {
    display: flex;
    flex-direction: column;
}

.art-info_title {
    font-size: 23px;
    margin: 3px;
}

.art-info_address {
    font-size: 18px;
    margin: 3px;
}

.art-info_under {
    display: flex;
    margin-top: 3px;
}

.art-info_under div {
    border-right: 1px solid var(--shadow_3);
    padding: 0 3px;
}

.art-info_under div:last-child {
    border-right: none;
}

.art-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art-container {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.button-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.edit-button, .delete-button {
    height: 31px;
    width: 150px;
    font-size: 15px;
    border: none;
    background-color: var(--main-color_navy);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-color_begie);
}

.edit-button:hover{
    background-color: rgba(43, 107, 225, 0.287);
}

.delete-button:hover{
    background-color: rgba(43, 107, 225, 0.287);
}

.edit-button-link {
    display: inline-block;
    height: 31px;
    width: 150px;
    font-size: 15px;
    background-color: var(--main-color_navy);
    color: var(--main-color_begie);
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.edit-button-link:hover {
    background-color: rgba(43, 107, 225, 0.287);
}