.empty-art-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sortBy-select{
    margin-right: 10px;
}

.sortBy-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 70px;
}

.art-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

.art-list-row {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 4px;
}

.art-list-block {
    display: inline-block;
    position: relative;
    width: calc(25% - 14px);
    margin-right: 7px;
    margin-bottom: 7px;
    max-width: 250px
}

.art-link {
    text-decoration: none;
}

.art-img {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.art-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 250px;
    background-color: #f7f5f0;;
}

.art-icon {
    align-items: flex-end;
    border: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
    margin: 8px;
}
