.empty-art-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-code{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.search-input {
    width: 477px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    margin-left: 80px;
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.search-select-box {
    display: flex;
    justify-content: center;
    /*gap: 10px*/
}

.search-field button {
    padding: 3px 10px;
    border: none;
    /*background-color:var(--main-color_navy);*/
    background: none;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    align-items: normal;
    display: flex;
    gap: 3px;
    margin-left: 25px;
}

.clearButton {
    margin-top: 5px;
}

.search-field .clearButton img {
    width: 15px;
    height: 15px;
}

.sortBy-select{
    /*margin-right: 10px;*/
    justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-left: 980px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.sortBy-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80px;
}

.checkbox-button_row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 14px;
    position: absolute;
}

.checkbox-button {
    flex: 0 0 calc(20% - 20px);
    height: 30px;
    width: 30px;
}

.checked-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 46px;
    border: 1px solid var(--shadow_1);
    background-color: var(--main-color_begie);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.category-checkbox:checked + .checked-div {
    background-color: #82817e;
}
.category-checkbox {
    display: none;
}

.division-line {
    width: 820px;
    padding: 10px 10px 15px 10px;
    border-top: 1px solid var(--shadow_1);
}
.content {
    display: flex;
    align-items: center;
}


.shop-info {
    width: 600px;
    height: 140px;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.shop-info_img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.shop-info_img img {
    width: 100%;
    height: 100%;
}

.shop-info_text {
    display: flex;
    flex-direction: column;
    line-height: 21px;
    margin-left: 13px;
}

.shop-info_title {
    font-size: 20px;
    font-weight: 500;
    margin: 3px;
}

.shop-info_address {
    font-size: 17px;
    margin: 3px;
}

.shop-info_under {
    display: flex;
    margin-top: 3px;
}

.art-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    width: 1060px;
    margin: 30px auto 0;
}

.art-list-row {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 4px;
}

.art-list-block {
    display: inline-block;
    position: relative;
    /*width: calc(25% - 14px);*/
    width: calc((100% - (7px * 3)) / 4);
    margin-right: 7px;
    margin-bottom: 7px;
    /*max-width: 250px*/
}

.art-list-block:nth-child(4n) {
    margin-right: 0;
}

.art-link {
    text-decoration: none;
}

.art-img {
    display: block;
    overflow: hidden;
    position: relative;
    width: 260px;
    height: 260px;
}

.art-img img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    transition: transform 0.3s ease;
    background-color: #f7f5f0;;
}

.art-img:hover img {
    transform: scale(1.1);
}

.art-icon {
    align-items: flex-end;
    border: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    left: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
    margin: 8px 0;
}
