.content-wrapper {
    display: flex;
    margin: 20px 100px;
}

.image-slider-wrapper {
    width: 50%;
    position: relative;
}

.image-slide {
    display: none;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.image-slide.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.like-section {
    text-align: left;
    color: #333;
    font-size: 20px;
    padding: 5px 0;
    margin-top: 20px;
}

.like-img{
    width: 20px;
}

.artLike {
    text-decoration: none;
}

.art-info-wrapper {
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}

.art-info-wrapper h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.art-info-wrapper h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.art-info-wrapper p {
    font-size: 16px;
    margin-bottom: 15px;
}

.art-info-wrapper p:last-of-type {
    margin-bottom: 30px;
}

.bookmark-img {
    width: 30px;
    height: 30px;
}