:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.shop-local-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.searchForm {
    width: 80%;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

/* 검색 */

.search-container {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 30px auto 50px;
}

.search-input {
    width: 800px;
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.search-select-box {
    display: flex;
    gap: 25px;
    font-size: 13px;
}

.address-select {
    margin-bottom: 10px;
    margin-left: 10px;

}

.search-select-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-select-box button {
    padding: 3px 10px;
    border: none;
    /*background-color:var(--main-color_navy);*/
    background: none;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    align-items: normal;
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
}

.clearButton {
    margin-top: 8px;
}

.search-select-box button:hover {
    background-color: var(--hover);
}

.search-select-box .clearButton img {
    width: 15px;
    height: 15px;
}

.orderby-select{
    margin-left: 160px;
}

.orderby-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 78px;
}

.all-shop-list {
    margin: 30px auto;
}

.shop-info a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
}

.shop-list_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.shop-info {
    width: 600px;
    height: 140px;
    background-color: var(--main-color_begie);
    border-radius: 5px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.shop-info_img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    overflow: hidden;
}

.shop-info_img img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.shop-info_img:hover img{
    transform: scale(1.1);
}

.shop-info_text {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    line-height: 17px;
}

.shop-info_title {
    font-size: 17px;
    margin: 5px;
    font-weight: bold;
}

.shop-info_address {
    font-size: 15px;
    margin: 5px;
    color: #767678;
}

.shop-info_under {
    display: flex;
    margin-top: 3px;
    font-size: 15px;
}

.shop-info_under div {
    border-right: 1px solid var(--shadow_3);
    padding: 0 3px;
}

.shop-info_under div:last-child {
    border-right: none;
}

/* .shop-info_menu {
  border-right: none;
} */

.error-code {
    margin: 50px auto;
}