<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/member/login_style.css}" />
</head>
<div layout:fragment="content">
    <div class="logo-img">
        <img src="/assets/icons/nailborhood_logo_korean.png">
    </div>
    <form action="#" class="login-form">
        <input type="email" id="email-field" placeholder="email"><br>
        <input type="password" id="password-field" placeholder="password"><br>
        <input type="submit" id="submit-button" value="로그인">
    </form>
    <div class="link-field">
        <span class="signup_link" onclick="location.href='#'">회원가입</span> |
        <span class="find-email_link" onclick="location.href='#'">이메일 찾기</span> |
        <span class="find-password_link" onclick="location.href='#'">비밀번호 찾기</span>
    </div>
    <div class="social-icons">
        <span id="google-logo" onclick="location.href='#'">
            <img src="/assets/icons/Google_G_logo.svg.png">
        </span>
        <span id="kakao-logo" onclick="location.href='#'">
            <img src="/assets/icons/kakao_login_medium.png">
        </span>
    </div>

</div>
</html>