<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/member/login_style.css}" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/member/viewPassword.js}"></script>
</head>
<div layout:fragment="content">
    <div class="logo-img">
        <img src="/assets/icons/nailborhood_logo.png">
    </div>
    <form method="post" action="/loginProc" class="login-form">
        <table>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="login-input" name="email" id="email" placeholder="email">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" class="login-input" name="password" id="password" placeholder="password">
                    <i class="bi bi-eye"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit-button" value="로그인">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="link-field">
        <span class="signup_link" onclick="location.href='/signup'">회원가입</span> |
        <span class="find-email_link" onclick="location.href='#'">이메일 찾기</span> |
        <span class="find-password_link" onclick="location.href='#'">비밀번호 찾기</span>
    </div>
    <div class="social-icons">
        <span id="google-logo" onclick="location.href='/oauth2/authorization/google'">
            <img src="/assets/icons/Google_G_logo.svg.png">
        </span>
<!--        <span id="kakao-logo" onclick="location.href='#'">-->
<!--            <img src="/assets/icons/kakao_login_medium.png">-->
<!--        </span>-->
    </div>

</div>
</html>