<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/member/signup_style.css}" />
    <script th:src="@{/js/member/signup.js}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<div layout:fragment="content">
    <div class="login-title">
        회원가입
    </div>
    <form action="/signupProc" method="post" class="signup-form">
        <table>
            <tbody>
            <tr>
                <td colspan="2">
                    <label for="email-input">이메일</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="email" name="email" id="email-input" placeholder="email" required oninput="checkEmailForm()">
                </td>
            </tr>
            <tr id="email-mismatch_message" style="display: none;">
                <td colspan="2">
                    <p>이메일 형식이 올바르지 않습니다</p>
                </td>
            </tr>
            <tr id="email-duplicate-check" style="display: none;">
                <td colspan="2">
                    <p id="email-available-message" style="display: none;">사용 가능한 이메일입니다.</p>
                    <p id="email-unavailable-message" style="display: none;">중복된 이메일입니다.</p>
                    <button id="email-check_button" onclick="checkEmailDuplicated()">중복 확인</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="name-input">이름</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="name" id="name-input" placeholder="name" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="password-input">비밀번호</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="password" name="password" id="password-input" placeholder="password" required>
                </td>
            </tr>
            <tr id="password-pattern_message" style="display: none;">
                <td colspan="2">
                    <p>비밀번호 형식안내 자리</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="password-check-input">비밀번호 확인</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="password" id="password-check-input" oninput="passwordCheckMatch()" placeholder="password check" required>
                </td>
            </tr>
            <tr id="password-match_div" style="display: none;">
                <td colspan="2">
                    <p id="password-match_message">비밀번호 메세지 자리</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="birthday-input">생일</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="date" name="birthday" id="birthday-input" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="nickname-input">닉네임</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="nickname" id="nickname-input" placeholder="nickname" required>
                </td>
            </tr>
            <tr id="nickname-available_message" style="display: none;">
                <td colspan="2">
                    <p>사용 가능한 닉네임입니다</p>
                </td>
            </tr>
            <tr id="nickname-unavailable_message" style="display: none;">
                <td colspan="2">
                    <p>이미 사용 중인 닉네임입니다</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="phonenumber-input">전화전호</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="phoneNum" id="phonenumber-input" placeholder="phone number" required>
                </td>
            </tr>
            <tr id="phonenum-unavailable_message" style="display: none;">
                <td colspan="2">
                    <p>중복된 전화번호입니다</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>성별</label>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <input type="radio" class="gender-radio" name="gender" value="Male" checked="checked">남성
                </td>
                <td>
                    <input type="radio" class="gender-radio" name="gender" value="Female">여성
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" id="submit-button" value="회원가입">
    </form>
</div>
</html>