:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
   /* margin: 10px 0 5px 0;*/
    margin: 0 auto;
}

.pagination-div {
}

.pagination-ul {
    display: flex;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--shadow_1);
    border-radius: 2px;
    list-style-type: none;
}

.page-item {
    background-color: var(--main-color_begie);
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--shadow_1);
}

.page-item:last-child {
    border-right: none;
}

.page-item:hover {
    font-weight: 550;
    opacity: 0.8;
}

.page-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--shadow_3);
}
