<div th:fragment="check-category">
    <div class="checkbox-button_row">
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category1" type="checkbox" />
            <div class="checked-div">
                <label for="category1">풀컬러</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category2" type="checkbox" />
            <div class="checked-div">
                <label for="category2">2</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category3" type="checkbox" />
            <div class="checked-div">
                <label for="category3">3</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category4" type="checkbox" />
            <div class="checked-div">
                <label for="category4">4</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category5" type="checkbox" />
            <div class="checked-div">
                <label for="category5">5</label>
            </div>
        </div>
    </div>
    <div class="checkbox-button_row">
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category6" type="checkbox" />
            <div class="checked-div">
                <label for="category6">6</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category7" type="checkbox" />
            <div class="checked-div">
                <label for="category7">7</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category8" type="checkbox" />
            <div class="checked-div">
                <label for="category8">8</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category9" type="checkbox" />
            <div class="checked-div">
                <label for="category9">9</label>
            </div>
        </div>
        <div class="checkbox-button" onclick="toggleCheckbox(this)">
            <input class="category-checkbox" id="category10" type="checkbox" />
            <div class="checked-div">
                <label for="category10">10</label>
            </div>
        </div>
    </div>
</div>