<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="header" class="header">

    <nav class="header-upper">
        <div id="info-field">
            <span sec:authorize="isAuthenticated()">
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{#}">
                    <span th:text="${memberNickname}">닉네임 자리</span>님
                    <input type="hidden" sec:authentication property="principal"/>
<!--                    <span th:text="${principal}">유저네임</span>-->
                </a>
            </span>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">
                로그인
            </a>
        </div>
    </nav>
    <header>
        <div class="logo-field">
            <a th:href="@{/example}">
                <img src="/assets/icons/nailborhood_logo.png"/>
            </a>
        </div>
        <div class="profile-field">
            <div id="profile-img-field">
                <!-- <img src="/src/asset/icons/IMG_2411.jpg" /> -->
            </div>
            <div id="profile-mypage-div">
                <ul>
                    <li><a th:href="@{/mypage/myInfo}">내 정보 수정</a></li>
                    <li><a href="#">비밀번호 수정</a></li>
                    <li><a th:href="@{/mypage/review/inquiry}">내가 작성한 리뷰</a></li>
                    <li><a th:href="@{/mypage/shop/favorite/inquiry}">관심 매장</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">리뷰</a></li>
                <li><a href="#">내 주변</a></li>
                <li><a href="#">아트판</a></li>
            </ul>
        </div>
        </header>
</div>
