/*@import "/src/components/search/searchbar_style.css";*/
/*@import "/src/components/pagination/pagination_style.css";*/
/*@import "/src/templates/fragments/components.css";*/

:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.error-code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mypage-title-span {
    padding: 10px 10px 15px 10px;
    font-size: 27px;
    border-bottom: 1px solid var(--shadow_2);
}

.mypage-content_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.review-list_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-bottom: 1px solid #595857;
    margin: 10px 0px 13px;
    padding: 10px 0px;
}

.mypage-content_div > .review-list_div:last-of-type {
    border-bottom: none;
}

.review-item {
    display: flex;
    justify-content: center; /* 수평 방향에서 중앙 정렬 */
    align-items: flex-start;  /* 수직 방향에서 시작 지점으로 정렬 */
}

.review-info {
    width: 750px;
    height: 140px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.review-info_img {
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.review-info_img img {
    width: 100%;
    height: 100%;
}

.review-info_text {
    display: flex;
    flex-direction: column;
    line-height: 23px;
    margin: 20px;
}


.review-info_shopName {
    font-size: 20px;
    padding-bottom: 4px;
}

.review-info_date, .review-info_address {
    font-size: 16px;
    line-height: 24px;
    color: #82817e;
}

.review-info_under {
    display: flex;
    margin-top: 3px;
}

.stars {
    color: #ffc107;
    font-size: larger;
}

.rating-number {
    font-size: larger;
}

.review-info_under div {
    border-right: 1px solid var(--shadow_3);
    padding: 0 3px;
}

.review-info_under div:last-child {
    border-right: none;
}
.review-info_under div:first-child {
    border-right: none;
}

.review-btn {
    height: 140px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수평 방향에서 중앙 정렬 */
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 40px;
    flex-shrink: 0;
    gap: 10px;
}

.delete-button, .update-button {
    padding: 8px 11px;
    border: none;
    background-color: #1d438a; /* 빨간색 배경 */
    color: white; /* 텍스트는 흰색 */
    cursor: pointer; /* 마우스를 올렸을 때 손가락 커서 표시 */
    text-decoration: none;
    font-size: 14px;
    border-radius: 15px;
}



.update-button:hover {
    background-color: rgba(43, 107, 225, 0.287);
}

.delete-button:hover {
    background-color: rgba(43, 107, 225, 0.287);
}

.division-line {
    width: 560px;
    border-top: 1px solid var(--shadow_2);
    margin: 4px 0px 8px;
}
