<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link rel="stylesheet" th:href="@{/css/admin/admin_style.css}" />
</head>
<div layout:fragment="content" style="flex-direction: row" class="admin-content">
    <div th:insert="~{fragments/components/admin_side::admin_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="admin-title-span">제목</span>
        <div class="admin-content_div">
        </div>
    </div>
</div>
</html>