<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/owner/owner_style.css}"/>
    <link rel="stylesheet" th:href="@{/css/owner/owner_chat_room_form_style.css}"/>

</head>
<div layout:fragment="content" style="flex-direction: row" class="owner-content">
    <div th:insert="~{fragments/components/owner_side::owner_side}" class="sidebar-div"></div>
    <div class="content">
        <span class="owner-title-span">채팅룸 개설</span>

        <div th:if="${errorCode}">
            <p th:text="${errorCode.description}"></p>
        </div>
        <div th:unless="${errorCode}">
            <form id="chatRoomForm"
                  th:action="@{/chatroom}"
                  method="post">
                <div class="content-div">
                    <button type="submit" id="submit-button" class="submit-button">관리자와 채팅시작</button>
                </div>

            </form>
        </div>

    </div>
</div>
</html>