:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.event-image {
    margin: 50px auto;
}

.event-image .main img{
    width: 100%;
}


.image-slider-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.image-slide {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}

.image-slide.active {
    display: block;
}
/*
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: var(--shadow_1);
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev img, .next img {
    width: 45px;
}

.subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
}

.location-subtitle {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
}

.info-subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
}

tr {
    height: 40px;
}

td {
    font-size: 18px;
    line-height: 27px;
    vertical-align: middle;
}

.phone-img, .time-img, .website-img {
    margin-top: 10px;
    height: 25px;
    width: auto;
    vertical-align: middle;
}

.info-img {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 25px;
    width: auto;
    vertical-align: middle;
}

.location-img {
    margin-top: 38px;
    margin-bottom: 5px;
    height: 32px;
    width: auto;
    vertical-align: middle;
}

.map-img {
    margin-top: 10px;
    width: 700px;  !* 가로 크기 조정 *!
    height: 300px; !* 세로 크기 조정 *!
}

.shop-menu {
    display: flex;
    background-color: var(--main-color_begie);
    padding: 30px 30px 30px 70px;
    margin: 40px 0px;
    width: 90%;
}

.menu-list {
    margin-left: 50px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center; !* 세로 중앙 정렬을 위해 추가 *!
    padding: 10px 0; !* 경계선과 텍스트 사이의 간격을 주기 위해 추가 *!
    width: 400%;
}*/


.separator {
    display: inline-block;
    height: 1px;
    background-color: #C0C0C0;
    width: 50%; /* 가로 길이를 부모 요소의 100%로 설정합니다. */
    margin: 0 5px; /* 양 옆에 여백을 주어 텍스트와 가격 사이에 공백을 둡니다. */
    vertical-align: middle;
}

.art-container, .review-container, .rate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2px;
}

.art-item , .review-item , .rate-item{
    margin-right: 7px; /* 아이템 간 간격 조정 */
}

.best-artRef ,  .best-shop-review , .best-shop-rate {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
}

.artRef-row , .review-row , .rate-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 1px;
}

.artRef , .review , .rate {
    font-size: 20px;
}

.artRef-link ,  .review-link , .rate-link {
    text-decoration: none;
}

.shop-artRef-best-link img , .shop-review-best-link img , .shop-rate-best-link img {
    width: 50px; /* 너비 설정 */
    height: 50px; /* 높이는 자동으로 설정 */
}

.artRef-img-row , .review-img-row , .rate-img-row {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 4px;
    justify-content: flex-start;
    width: 98%;
}

.artRef-list-block , .review-list-block , .rate-list-block{
    display: inline-block;
    position: relative;
    margin-right: 7px;
    width: 202px;
    height: 202px;
}

.artRef-img , .review-img .rate-img {
    display: block;
    overflow: hidden;
    position: relative;
}

.artRef-img img, .review-img img ,.rate-img img{
    object-fit: cover;
    width: 202px;
    height: 202px;
}

.division-line {
    width: 820px;
    padding: 10px 10px 15px 10px;
    border-top: 1px solid var(--shadow_2);
}

/* 승인, 반려 버튼 */
/*.button-group .approve-button {*/
/*    height: 31px;*/
/*    width: 150px;*/
/*    font-size: 15px;*/
/*    border: none;*/
/*    background-color: #4de548;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    color: var(--main-color_begie);*/
/*    margin-right: 20px;*/
/*}*/

/*.button-group .reject-button {*/
/*    height: 31px;*/
/*    width: 150px;*/
/*    font-size: 15px;*/
/*    border: none;*/
/*    background-color: #c92424;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    color: var(--main-color_begie);*/
/*}*/

/*.approve-button:hover {*/
/*    background-color: #daf193;*/
/*}*/

/*.reject-button:hover{*/
/*    background-color: rgba(229, 97, 97, 0.29);*/
/*}*/