<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/home/home_style.css}">
</head>

<body>
<div id="wrapper">
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content">
        <div class="home">

            <div class="event-image">
                <div class="main">
                    <img src="/assets/icons/nailborhoodMainImg.png"/>
                </div>
            </div>

            <div class="best-artRef">
                <div class="artRef-row">
                    <span class="artRef">베스트 아트</span>
                    <!--  TODO: url 수정-->
                    <a th:href="@{/artboard/inquiry}" class="shop-artRef-best-link">
                        <img src="/assets/icons/shop/arrow.svg">
                    </a>
                </div>
                <div class="division-line"></div>
                <div class="artRef-img-row">
                    <div class="artRef-list-block"
                         th:each="artResult: ${resultDto.getData().getArtListResponseDtoList()}">
                        <div th:if="${artResult.getData().getArtResponseDtoList().size() != 0 }" class="art-container">
                            <div th:each="art : ${artResult.getData().getArtResponseDtoList()}" class="art-item">
                                <a class="artRef-link"
                                   th:href="@{/artboard/inquiry/{artRefId}(artRefId=${art.getId()})}" role="link">
                                    <div class="artRef-img">
                                        <img th:src="@{${art.getMainImgPath()}}">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:if="${artResult.getData().getArtResponseDtoList().size() == 0}">
                            <p>베스트 아트판이 아직 없습니다</p>
                        </div>
                    </div>
                </div>

            </div>


            <div class="best-shop-review">
                <div class="review-row">
                    <span class="review">인기순 매장</span>
                    <a th:href="@{/shop/list}" class="shop-review-best-link">
                        <img src="/assets/icons/shop/arrow.svg">
                    </a>
                </div>
                <div class="division-line"></div>

                <div class="review-img-row">
                    <div class="review-list-block"
                         th:each="reviewResult : ${resultDto.getData().getShopListByReviewResponseDtoList()}">
                        <div th:if="${reviewResult.getData().getShopLookupResponseDtoList().size() != 0 }" class="review-container">
                            <div th:each="review : ${reviewResult.getData().getShopLookupResponseDtoList()}" class="review-item">
                                <a class="review-link"
                                   th:href="@{/shopDetail/{shopId}(shopId=${review.getShopId()})}"
                                   role="link">
                                    <div class="review-img">
                                        <img th:src="@{${review.getShopMainImgPath()}}">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:if="${reviewResult.getData().getShopLookupResponseDtoList().size() == 0 }">
                            <p>인기순 매장이 아직 없습니다</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="best-shop-rate">
                <div class="rate-row">
                    <span class="rate">별점 높은 매장</span>
                    <a th:href="@{/shop/list}"
                       class="shop-rate-best-link">
                        <img src="/assets/icons/shop/arrow.svg">
                    </a>
                </div>
                <div class="division-line"></div>

                <div class="rate-img-row">
                    <div class="rate-list-block"
                         th:each="rateResult : ${resultDto.getData().getShopListByRateResponseDtoList()}">
                        <div th:if="${rateResult.getData().getShopLookupResponseDtoList().size() != 0 }" class="rate-container">
                            <div th:each="rate : ${rateResult.getData().getShopLookupResponseDtoList()}" class="rate-item">
                                <a class="rate-link"
                                   th:href="@{/shopDetail/{shopId}(shopId=${rate.getShopId()})}" role="link">
                                    <div class="rate-img">
                                        <img th:src="@{${rate.getShopMainImgPath()}}">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:if="${rateResult.getData().getShopLookupResponseDtoList().size() == 0 }">
                            <p>별점 높은 매장이 아직 없습니다</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div>

</body>

</html>