<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>아트 등록</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/owner/owner_style.css}">
    <link rel="stylesheet" th:href="@{/css/artboard/art_registration_style.css}">
    <link rel="stylesheet" th:href="@{/css/search/searchbar_style.css}">
    <link rel="stylesheet" th:href="@{/css/owner/owner_side_style.css}">
    <script th:src="@{/js/get_layouts.js}"></script>
    <script th:src="@{/js/artboard/art_registration.js}"></script>
</head>

<body>
    <div layout:fragment="content" style="flex-direction: row" class="owner-content">
        <div th:insert="~{fragments/components/owner_side::owner_side}" class="sidebar-div"></div>
        <div class="content">
            <span class="owner-title-span">아트 등록</span>

            <form th:action="@{/nailborhood/owner/artboard/register}" method="post" enctype="multipart/form-data">
                <div class="owner-content-div">

                    <div class="input-group">
                        <label for="art-title">아트 제목</label>
                        <input type="text" id="art-title" name="name" class="art-title-input" placeholder="아트 제목을 입력해주세요." />
                    </div>

                    <div class="input-group">
                        <label for="shop-id">매장 ID</label>
                        <input type="text" id="shop-id" name="shopId" class="shop-id-input" placeholder="매장 ID를 입력해주세요." />
                    </div>

                    <div class="category">
                        <span class="category-text">카테고리 선택</span>
                        <div th:replace="/fragments/components/search/check_category.html"></div>
                    </div>

                    <div class="img-mod-text">
                        <span class="img-text">아트 사진 등록 &nbsp; </span>
                        <label class="input-file-button" for="input-file">사진 등록</label>
                        <input type="file" id="input-file" name="file" accept="image/*" multiple style="display: none;" >
                    </div>

                    <div class="image-gallery">
                        <div class="image-upload-box">
                            <div class="upload-text">사진을 업로드 해주세요.</div>
                        </div>
                        <div class="image-upload-box">
                            <div class="upload-text">사진을 업로드 해주세요.</div>
                        </div>
                        <div class="image-upload-box">
                            <div class="upload-text">사진을 업로드 해주세요.</div>
                        </div>
                    </div>

                    <table>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <label for="info-input">게시글</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea id="info-input" name="content" class="large-input" placeholder="게시글 내용을 입력하세요." required></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>
                    <input type="submit" id="submit-button" class="submit-button" value="아트 등록">
                </div>
            </form>
        </div>
    </div>
</body>

</html>