<div th:fragment="search-bar">
    <form id="search-form" class="search-form" th:action="@{/artboard/inquiry}" method="get">
        <div class="search-field">
            <input class="search-input" id="search-input" type="text" name="keyword" placeholder="검색어를 입력해주세요" />
            <div class="search-icon" onclick="submitSearch()">
                <img src="/assets/icons/shop/search.svg" />
            </div>
            <div class="clearButton">
                <button class="clearStorageButton" id="clearStorageButton">
                    <img src="/assets/icons/shop/reset.png" alt="reset">
                    초기화
                </button>
            </div>
        </div>
        <div class="search-select-box">
            <input type="checkbox" id="click" class="category-hide_checkbox"/>
            <label class="category-chevron_label" for="click" id="checkbox-notchecked">
                <img src="/assets/common/chevron-up.svg">
            </label>
            <label class="category-chevron_label" for="click" id="checkbox-checked">
                <img src="/assets/common/chevron-down.svg"><p>카테고리</p>
            </label>
            <div class="checkbox-button_row" id="checkbox-toggle">
                <div th:each="category : ${categories}" class="checkbox-button">
                    <input class="category-checkbox" th:id="${'category' + category.categoryId}" type="checkbox" name="categoryIdList" th:value="${category.categoryId}" />
                    <div class="checked-div">
                        <label th:for="${'category' + category.categoryId}" th:text="${category.type}">카테고리명</label>
                    </div>
                </div>
            </div>
            <div class="sortBy-select">
                <select name="sortBy" id="sortBy">
                    <option th:each="criteria : ${criteriaOptions}" th:value="${criteria.value}"
                            th:text="${criteria.text}"
                            th:selected="${criteria.value == selectedOrderby}">Option
                    </option>
                </select>
            </div>
        </div>
    </form>
</div>