<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>아트 전체 조회</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/artboard/art_list_style.css}">
    <link rel="stylesheet" th:href="@{/css/search/searchbar_style.css}">
    <link rel="stylesheet" th:href="@{/css/pagination/pagination_style.css}">
    <script th:src="@{/js/get_layouts.js}"></script>
    <script th:src="@{/js/artboard/art_search.js}"></script>
    <script th:src="@{/js/artboard/art_category.js}"></script>
</head>

<body>
    <div th:if="${error}" class="empty-art-message">
        아트판이 없습니다.
    </div>

    <div th:unless="${error}" layout:fragment="content">
        <div class="search-bar">
            <div th:replace="artboard/art_searchbar.html"></div>
            <div th:replace="artboard/art_category.html"></div>
        </div>

        <div class="art-list" id="art-list">
            <div th:each="art, iterStat : ${result.getData().artResponseDtoList}" class="art-list-block" th:if="${iterStat.count <= 20}">
                <a th:href="@{/artboard/inquiry/{id}(id=${art.id})}" class="art-link" role="link">
                    <div class="art-img">
                        <img th:src="@{${art.getMainImgPath()}}" alt="Art Image">
                    </div>
                    <div class="art-icon">
                        <img th:src="@{/assets/icons/slide.svg}">
                    </div>
                </a>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination-div">
                <ul class="pagination-ul">
                    <li class="page-item" th:unless="${result.getData().paginationDto.pageNo == 1}">
                        <a class="page-link" th:href="@{'/artboard/inquiry?page=' + (${result.getData().paginationDto.pageNo} - 1)}">Prev</a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(1, result.getData().paginationDto.totalPages)}" class="page-item">
                        <a class="page-link" th:href="@{'/artboard/inquiry?page=' + ${pageNum}}" th:text="${pageNum}">pageNo</a>
                    </li>
                    <li class="page-item" th:unless="${result.getData().paginationDto.pageNo == result.getData().paginationDto.totalPages}">
                        <a class="page-link" th:href="@{'/artboard/inquiry?page=' + (${result.getData().paginationDto.pageNo} + 1)}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>