<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>아트 상세 조회</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/artboard/art_detail_style.css}">
    <script th:src="@{/js/get_layouts.js}"></script>
    <script th:src="@{/js/artboard/art_detail.js}"></script>
    <script th:src="@{/js/alarm/art_like_alarm.js}"></script>
</head>

<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="image-slider-wrapper">
                <div th:each="imgEntry : ${result.getData().imgPathMap}"
                     th:class="${imgEntry.key == 1} ? 'image-slide active' : 'image-slide'"
                     th:style="|background-image:url(@{${imgEntry.value}})|">
                </div>

                <div class="like-section">
                    <a href="#" class="artLike" th:data-art-id="${result.getData().artRefId}" th:data-like-status="${result.getData().artLikeStatus}" th:data-is-logged-in="${#strings.isEmpty(sessionDto) ? 'false' : 'true'}"
                    th:data-receiver="${receiver.getEmail()}">

                        <img class="like-img" src="/assets/icons/art/emptyLike.svg" />
                    </a>
                    <span class="like-count" th:text="${result.getData().likeCount}">likeCount</span>
                </div>

                <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                <a class="next" onclick="moveSlide(1)">&#10095;</a>
            </div>

            <div class="art-info-wrapper">
                <div class="bookMark-section">
                    <a href="#" class="artBookMark" th:data-art-id="${result.getData().artRefId}" th:data-bookmark-status="${result.getData().artBookMarkStatus}" th:data-is-logged-in="${#strings.isEmpty(sessionDto) ? 'false' : 'true'}"
                       th:data-receiver="${receiver.getEmail()}">

                        <img class="bookmark-img" src="/assets/icons/art/emptyBookMark.svg" />
                    </a>
                </div>

                <h2 th:text="${result.getData().name}">title</h2>
                <h3 th:text="${result.getData().shopName}">shopName</h3>
                <p th:text="${#strings.listJoin(result.getData().categoryTypeList, ', ')}">categoryTypeList</p>
                <p th:text="${#temporals.format(result.getData().createdAt, 'yyyy-MM-dd, HH:mm')}">createdAt</p>
                <p th:text="${result.getData().content}">content</p>
            </div>
        </div>
    </div>
</body>

</html>