<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <meta charset="UTF-8">
    <title>아트 상세</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout_style.css}">
    <link rel="stylesheet" th:href="@{/css/artboard/art_detail_style.css}">
    <script th:src="@{/js/get_layouts.js}"></script>
    <script th:src="@{/js/artboard/art_detail.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="image-slider-wrapper">
            <div th:each="imgEntry : ${result.getData().imgPathMap}"
                 th:class="${imgEntry.key == 1} ? 'image-slide active' : 'image-slide'"
                 th:style="|background-image:url(@{${imgEntry.value}})|">
            </div>

            <div class="like-section">
                <span class="like-icon">❤️</span>
                <span class="like-count" th:text="${result.getData().likeCount}">likeCount</span>
            </div>

            <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
            <a class="next" onclick="moveSlide(1)">&#10095;</a>
        </div>

        <div class="art-info-wrapper">
            <h2 th:text="${result.getData().name}">title</h2>
            <h3 th:text="${result.getData().shopName}">shopName</h3>
            <p th:text="${#strings.listJoin(result.getData().categoryTypeList, ', ')}">categoryTypeList</p>
            <p th:text="${#temporals.format(result.getData().createdAt, 'yyyy-MM-dd, HH:mm')}">createdAt</p>
            <p th:text="${result.getData().content}">content</p>
        </div>


    </div>
</div>
</body>

</html>