@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --main-color_begie: #f7f5f0;
    --shadow_1: #dad2cd;
    --shadow_2: #aba9a6;
    --shadow_3: #82817e;
    --shadow_4: #595857;
    --main-color_navy: #1d438a;
}

.content {
    align-items: center;
}

.login-title {
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color_navy);
}

.social-icons_div {
    margin-top: 15px;
    padding: 10px;
    border-bottom: var(--shadow_2) solid 1px;
    border-top: var(--shadow_2) solid 1px;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-icons_div span {
    cursor: pointer;
}

#google-logo {
    width: 208px;
    height: 30.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid var(--shadow_2);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
tr {
    height: 30px;
    position: relative;
}
td {
    vertical-align: middle;
}

table input {
    height: 25px;
    width: 220px;
    font-size: 15px;
    outline: lightgray auto 1px;
    box-sizing: unset;
}


table input:focus-visible {
    outline: var(--main-color_navy) auto 1px;
}

td i {
    position: absolute;
    top: 4px;
    font-size: 22px;
    right: 5px;
    color: var(--shadow_3);
}

#gender-select_td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.gender-radio {
    width: 15px;
    height: 15px;
}

#submit-button {
    height: 31px;
    width: 208px;
    font-size: 15px;
    border: none;
    background-color: var(--main-color_navy);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-color_begie);
}

